{% extends 'base.html.twig' %}

{% block title %}
{{ product.name }} - Re[fût]ge
{% endblock %}

{% block body %}
    {% for message in app.flashes('alert') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    {{ product.name }}
    {{ form_start(cart_form) }}
    {{ form_row(cart_form.quantity) }}
    <button type="submit">Ajouter au panier</button>
    {{ form_end(cart_form) }}
{% endblock %}

