<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Cutive&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
    {% endblock %}

</head>
<body>
<header>
    <div class="header-container" id="home">
        <a href="{{ path('homepage') }}" id="home-link">
            <img src="{{ asset('uploads/images/site/logo-refuge.png') }}" alt="Logo du Re[fût]ge en noir"
                 id="home-logo">
            <p id="home-title">Re[fût]ge</p>
        </a>
    </div>
    <nav class="header-container" id="nav">
        <a href="{{ path('homepage') }}">Accueil</a>
        <a href="{{ path('shop') }}">Boutique</a>
        <a href="{{ path('about') }}">A Propos</a>
    </nav>
    <div class="header-container" id="btn-container">
        <a href="{{ path('app_login') }}">
            <button class="contact-btn">
                <i class="fas fa-user"></i>
                <p>Compte</p>
            </button>
        </a>
        <a href="{{ path('cart') }}">
            <button class="cart-btn">
                <i class="fas fa-shopping-cart"></i>
                <p>Panier</p>
            </button>
        </a>
    </div>
</header>
{% block body %}
{% endblock %}
<footer>

</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
